.progressContainer {
  @apply relative pb-7 w-full;
  /* border: 0.5px solid #EDEEF3; */
}
.sourceItem {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 13px 17px 13px 14px;
  height: 48px;
  /* background: #EFF4FF; */
  border: 0.5px solid #EDEEF3;
  border-radius: 8px;
  overflow: hidden;
}
.sourceItem.error {
  background: #FEE4E2;
}
.sourceItem.success {
  background: #D1FADF;
}
.progressbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #EBE9FF;
}
.sourceItem .info {
  display: flex;
  align-items: center;
  z-index: 1;
  /* background-color: #9EADB9; */
  /* padding: 13px 18px 13px 14px; */
  /* border-radius: 8px; */
  /* border: 1px solid #EDEEF3; */
}
.sourceItem .info .name {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #212B36;
}
.sourceItem.success .info .name {
  color: #05603A;
}
.sourceItem .percent {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #5E3EFB;
  z-index: 1;
}
.sourceItem .error {
  color: #D92D20;
}
.sourceItem .success {
  color: #05603A;
}


.cost {
  @apply flex justify-between items-center text-xs leading-3 text-[#9EADB9];
}
.embeddingStatus {
  @apply flex items-center justify-between text-gray-900 font-medium text-sm mr-2;
}
.commonIcon {
  @apply w-3 h-3 mr-1 inline-block align-middle;
}
.highIcon {
  mask-image: url(../assets/star.svg);
  @apply bg-orange-500;
  display: none;
}
.economyIcon {
  background-color: #444ce7;
  mask-image: url(../assets/normal.svg);
}
.tokens {
  @apply text-xs font-medium px-1;
}
.price {
  color: #f79009;
  @apply text-xs font-medium;
}

.fileIcon {
  @apply w-[18px] h-[18px] mr-1 bg-center bg-no-repeat;
  background-image: url(../assets/unknow.svg);
  background-size: 16px;
}
.fileIcon.csv {
  background-image: url(../assets/csv.svg);
}
.fileIcon.docx {
  background-image: url(../assets/docx.svg);
}
.fileIcon.xlsx,
.fileIcon.xls {
  background-image: url(../assets/xlsx.svg);
}
.fileIcon.pdf {
  background-image: url(../assets/pdf.svg);
}
.fileIcon.html,
.fileIcon.htm {
  background-image: url(../assets/html.svg);
}
.fileIcon.md,
.fileIcon.markdown {
  background-image: url(../assets/md.svg);
}
.fileIcon.txt {
  background-image: url(../assets/txt.svg);
}
.fileIcon.json {
  background-image: url(../assets/json.svg);
}
